<section>
    <img src="">
    <p>Monsters lv 1-2</p>
</section>
<section>
    <img src="">
    <p>Monsters lv 3-4</p>
</section>
<section>
    <img src="">
    <p>Monsters lv 5-6</p>
</section>
<section>
    <img src="">
    <p>Monsters lv 7-8</p>
</section>
<section>
    <img src="">
    <p>Monsters lv 9-10</p>
</section>