<section class="home-bg">
    <section class="home-container">
        <div class="home-card">
            <h1 class="title"><span class='letter'>R</span><span class='letter'>P</span><span class='letter'>G</span><span class='letter'> </span><span class='letter'>t</span><span class='letter'>h</span><span class='letter'>e</span><span class='letter'> </span><span class='letter'>G</span><span class='letter'>a</span><span class='letter'>m</span><span class='letter'>e</span></h1>
            <button class="loginText" id="login" style="margin-right: 30px;" onclick= "window.location.href='/login';"><span class='letter'>L</span><span class='letter'>o</span><span class='letter'>g</span><span class='letter'>i</span><span class='letter'>n</span></button>
            <button class="signText" id="signUp" style="margin-left: 30px;" onclick= "window.location.href='/sign_up';"><span class="letter">S</span><span class="letter">i</span><span class="letter">g</span><span class="letter">n</span><span class="letter"> </span><span class="letter">U</span><span class="letter">p</span></button>
        </div>
    </section>
</section>

<script src="/js/home.js"></script>