

<section>
    
    <button id="login" onclick= "window.location.href='/login';">Login</button>

   
    <button id="signUp" onclick= "window.location.href='/sign_up';">Sign Up</button>

</section>

<script href="/js/home.js"></script>