<section class="home-bg">
    <section class="home-container">
        <div class="home-card">
            <h1>RPG the Game</h1>
            <button id="login" style="margin-right: 30px;" onclick= "window.location.href='/login';">Login</button>
            <button id="signUp" style="margin-left: 30px;" onclick= "window.location.href='/sign_up';">Sign Up</button>
        </div>
    </section>
</section>

<script href="/js/home.js"></script>