<section>
    <h3>Welcome Adventurer!</h3>
    <form>
        <label>Username</label>
        <input type="text">
        <label>Password</label>
        <input type="password">
        <button>Log In!</button>
    </form>
</section>
<script src="/js/login.js"></script>