<section>
    <h3>Welcome Adventurer!</h3>
    <form>
        <label>Username</label>
        <input id="userName" type="text">
        <label>Password</label>
        <input id="password" type="password">
        <button id="loginBtn">Log In!</button>
    </form>
</section>
<script src="/js/login.js"></script>