<div class="section">
    <div class="cardlogin">
        <section class="login-container">
                <h3>Welcome Adventurer!</h3>
                    <form>
                        <div>
                            <label>Username</label>
                            <input id="userName" type="text">
                        </div>
                        <div>
                            <label>Password</label>
                            <input id="password" type="password">
                         </div>   
                    </form>
                    <button id="loginBtn">Log In!</button>
            </section>
    </div>
    <div class="video-container">
        <video autoplay loop muted>
            <source src="images\HD0360.mp4" type="video/mp4">
        </video>
            
    </div>
</div>
<script src="/js/login.js"></script>