<section>
    <h3>Account Information</h3>
    <form>
        <label>Username</label>
        <input type="text">
        <label>Email</label>
        <input type="email">
        <label>Password</label>
        <input type="password">
        <button>Create Account</button>
    </form>
</section>
<script src="/js/sign_up.js"></script>