<section>
    <h3>Account Information</h3>
    <form>
        <label>Username</label>
        <input id="userName" type="text">
        <label>Email</label>
        <input id="email" type="email">
        <label>Password</label>
        <input id="password" type="password" minlength="8" required>
        <button id="signUpBtn">Create Account</button>
    </form>
</section>
<script src="/js/sign_up.js"></script>