<section class="townContainer">
    <section class="menuContainer">
        <div class="smallContainer">
            <img class="townHover" id="arenaBtn" data-id="{{character.id}}" src="/images/wepik-photo-mode-2022928-122142.png" alt="arena">
            <p class="townText">Arena</p>
        </div>
        <div class="smallContainer">
            <img class="townHover" id="shopBtn" data-id="{{character.id}}" src="/images/merchant.png" alt="merchant">
            <p class="townText">Shop</p>
        </div>
        <div class="smallContainer">
            <img class="townHover" id="adventureBtn" data-id="{{character.id}}" src="/images/wepik-photo-mode-2022928-121641.png" alt="forest">
            <p class="townText">Adventure</p>
        </div>
    </section>
    <section class="townFooter">
        <div>
            <h3>Gold: {{character.gold}}</h3>
        </div>
        <div>
            <button id="inventoryBtn">Inventory</button>
        </div>
        <div>
            <h3>Stats: </h3>
        </div>
    </section>
</section>
<script src="/js/town.js"></script>