<section>
    <div>
        <img src="https://i.pinimg.com/564x/b2/35/ce/b235ce7cc566bb1da76ad2c7e49e603d.jpg" alt="arena">
        <button id="arenaBtn">Arena</button>
    </div>
    <div>
        <img src="https://i.pinimg.com/originals/a5/cd/2c/a5cd2cc8f3eb82aeca033ce9b440d6da.jpg" alt="merchant">
        <button id="shopBtn">Shop</button>
    </div>
    <div>
        <img src="https://i.pinimg.com/564x/f0/6f/97/f06f97b0c239c591c355b3c95e7e9938.jpg" alt="forest">
        <button id="adventureBtn">Adventure</button>
    </div>
</section>
<section>
    <div>
        <h3>Gold: {{character.gold}}</h3>
    </div>
    <div>
        <button id="inventoryBtn">Inventory</button>
    </div>
    <div>
        <h3>Stats: </h3>
    </div>
</section>
<script src="/js/town.js"></script>