<div class="bigContainer">
    <section class="travelPage">
        <div class="motionPath">
            <div class="travelingPath">
                <div class="characterPiece">▷</div>
                <svg id="travelPath" width="1000" height="700">
                    <path stroke="none" fill="none" d="M 100 550 Q 100 350 250 350 Q 350 350 350 200 Q 350 100 450 100 C 600 100 650 100 700 200 C 650 300 600 400 700 450 "></path>
                </svg>
            </div>
        </div>
    </section>
    <section class="travelPage">
        <div class="motionPath2">
            <div class="travelingPath2">
                <div class="characterPiece2">▷</div>
                <svg id="travelPath2" width="1000" height="700">
                    <path stroke="none" fill="none" d="M 700 50 C 700 150 800 150 800 250 A 50 50 0 1 1 700 650 C 650 550 725 550 700 450"></path>
                </svg>
            </div>
        </div>
    </section>
</div>

<script src="/js/traveling.js"></script>